body{
    color:papayawhip;
    background-color:darkolivegreen;
    margin: 300px;

    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    display: inline-block;
}

h1{
    font-size: 65px;
    color: papayawhip;  
    background-color: tomato
}

h2{
    font-size: 40px;;
    color: tomato;
}

h3{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.quote{
    color: lightpink;
   padding: 70 px;
}

.quote.narrator{
    color:lightpink;
}

#intro p{
    color:skyblue;
    
}